<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login-Comedor</title>
  <link rel="stylesheet" href="../login/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>
<form method="post">
  <div class="form-field">
    <input type="text" name="legajo" placeholder="Legajo" required/>
  </div>
  
  <div class="form-field">
    <input type="password" name="password" placeholder="contraseña" required/>                         
  </div>
  
  <div class="form-field">
    <button class="btn" type="submit" value="log-in">Log in</button>
  </div>
</form>
<!-- partial -->
  



</body>
</html>
